<!--<ion-view title="Malandraca">
      <ion-content>
        <div class="row row-center padding">

            <div class="col col-offset-33 col-33">
                <div class="row row-center">
                    <div class="logo-img col">
                        <img ng-src="/images/logo.png" alt="Malandraca">
                    </div>
                </div>
            </div>

        </div>
          <div class="row row-center">
              <div class="logo-text col center">
                    <h1>MALANDRACA</h1>
                    <h2>RADIO DE TANGO</h2>
              </div>
          </div>
          
          
          
          
          <div class="item range">
  <i class="icon ion-volume-low"></i>
  <input type="range" name="volume">
  <i class="icon ion-volume-high"></i>
</div>
          
          
      </ion-content>
</ion-view>-->
<ion-view title="Malandraca">
<ion-footer-bar align-title="left" class="bar-stable dark foo">
   <div class="row">
    <div class="col col-10">
        <button class="button button-clear"><i class="icon ion-play play"></i></button>
    </div>
    <div class="col col-90">
        <div class="range">
            <i class="ion-volume-low"></i>
            <input type="range" name="volume" />
            <i class="icon ion-volume-high"></i>
        </div>
    </div>

    </div>
    
</ion-footer-bar>
</ion-view>