<ion-view view-title="Login" class="login" hide-nav-bar="true">
    <!--<ion-content>
    
        <div class="row ">
          <div class="col logo">
            <img src="../images/logo.png" class="login-image"/>
            <h1><span>M</span>ALANDRACA</h1>
            </div>
        </div>
        
        <div class="row">
          <div class="col"><button class="button icon-left ion-social-facebook button-positive" ng-click="login('facebook')">Login with facebook</button></div>
        </div>
        
        
  </ion-content>-->
    
    <ion-content has-header="false" padding="true">
    <div class="row row-center">
      <div class="col col-center logo">
        <img src="http://www.malandraca.com/images/logo.png" class="login-image"/>
        <h1><span>M</span>ALANDRACA</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
    <button class="button icon-left ion-social-facebook button-positive" ng-click="login('facebook')">Login with facebook</button>
      </div>
    </div>
  </ion-content>
</ion-view>