<ion-view view-title="Radio">
    <ion-content>
        <div class="list card">   
      <div class="item item-avatar" ng-show="currentSong.activated" >
        <img src="https://raw.githubusercontent.com/malandraca/malandraca-mobile/master/app/images/malandraca-icon.png">
        <h2><span ng-bind="currentSong.title"></span></h2>
        <p>{{currentSong.artist}} - {{currentSong.signer}}</p>
        <h5>{{currentSong.gender}} - {{currentSong.year}}</h5>
      </div>

      <div class="item item-image">
        <img src="{{currentSong.image}}">
      </div>
    
            <!--
       <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Me gusta
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comentar
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Compartir
        </a>
      </div>-->

    </div>

    </ion-content>
</ion-view>